<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <a href="{% url 'bookings:aircrafts' %}">Aircrafts</a>
    <br>
    <a href="{% url 'bookings:airports' %}">Airports</a>
    <br>
    <a href="{% url 'bookings:boarding_passes' %}">Boarding passes</a>
    <br>
    <a href="{% url 'bookings:bookings' %}">Bookings</a>
    <br>
    <a href="{% url 'bookings:flights' %}">Flights</a>
    <br>
    <a href="{% url 'bookings:seats' %}">Seats</a>
    <br>
    <a href="{% url 'bookings:ticket_flights' %}">Ticket flights</a>
    <br>
    <a href="{% url 'bookings:tickets' %}">Tickets</a>
    <br>
</body>
</html>